ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1 {font-size: 40px;}
h2 {
  color: white;
  margin: 0;
}
.agendacontent {
  height: 35px;
  background-color: rgb(200, 200, 200);
  cursor: pointer;
}
.agendacontent.active {background-color: rgb(227,87,133);}

.cplogo{
  min-height: 80px;
  max-height: 222px;
  width: 10%;
}

.cplogo img{width: 100%;}

.topic {
  display: none;
  color: white;
}

.topic.shown {
  padding: 2px 1%;
  position: relative;
  display: block;
  background-color: rgb(227,87,133);
  margin: 0;
}
